article.page
  font-size: 1.5rem
  position: relative
  padding: 0
  background: $primary-color /* Old browsers */
  background: -moz-linear-gradient(top,  $primary-color 65%, white 65%,  white 100%) /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  $primary-color 65%, white 65%, white 100%) /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  $primary-color 65%, white 65%, white 100%) /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63707a', endColorstr='#e5e5e5',GradientType=0 ) /* IE6-9 */

.beschreibung
  margin: 0 0 0.5em 0
  @media (max-width: $toast-breakpoint-small)
    margin: 1em 0

.block
  flex: 50%
  position: relative

.blockpadding
  padding: 2em
  @media (max-width: $toast-breakpoint-medium)
    padding: 0

.block1
  background-color: $room1

.block2
  background-color: $room2

.block-holder
  margin-top: 1em

.blur
  filter: blur(5px)

.content
  background-color: $offwhite
  padding: 2em

.centerfloat
  width: 50%
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

.clickoverlay
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  width: 100%
  height: 100%
  z-index: 999
  display: block
  transition: all 1s ease

.clickoverlayroom1
  background-color: rgba($room1,0)
  &:hover
    background-color: rgba($room1,0.5)
    transition: all 1s ease

.clickoverlayroom2
  background-color: rgba($room2,0)
  &:hover
    background-color: rgba($room2,0.5)
    transition: all 1s ease

.col
  padding-left: 0px

.col-center
  text-align: center
  @media (max-width: $toast-breakpoint-small)
    text-align: left

.content-block
  z-index: 2
  background-color: rgba($neutral-grey, 0.85)
  padding: 1em 1em 1em 1em
  position: relative
  width: 75%
  margin: -1em auto 0 auto
  @media (max-width: $toast-breakpoint-medium) and (min-width: $toast-breakpoint-small)
    width: 100%
    margin: 0 auto 0 auto
  @media (max-width: $toast-breakpoint-small)
    width: 100%
    margin: 0 auto 0 auto
    padding: 1em

.content-holder
  border: 2px solid $room1
  background-color: $offwhite
  margin: 0 0 1em 0
  &:last-of-type
    margin: 0

.dflex
  background-color: $offwhite
  display: flex
  @media (max-width: $toast-breakpoint-small)
    flex-direction: column

.dflexintro
  justify-content: center

.features
  font-size: 1.35em
  text-transform: uppercase
  list-style: none
  padding: 0
  margin: 1em 0
  text-align: center

.flexrow
  display: flex

.introtext
  flex-basis: 50%
  padding: 3em 0
  @media (max-width: $toast-breakpoint-medium)
    flex-basis: 75%
    padding: 2em 1em
  @media (max-width: $toast-breakpoint-medium)
    padding: 1em 1em

.keyvisual
  width: 100%
  height: 750px
  background-size: cover!important
  @media (max-width: $toast-breakpoint-medium)
    height: 550px
  @media (max-width: $toast-breakpoint-small)
    height: 425px

.maxwidth
  max-width: 100%
  width: 100%
  height: auto

.room1
  padding: 1em

.room2
  padding: 1em

.room-size
  text-align: center
  font-size: 1.75em
  margin: 10% 0 0.5em 0
  @media (max-width: $toast-breakpoint-small)
    font-size: 1.25em

.room-price
  text-align: center
  font-size: 1.75em
  margin: 0
  @media (max-width: $toast-breakpoint-small)
    font-size: 1.25em

.site-description
  text-align: center
  color: $primary-color

.site-title
  color: $primary-color
  text-align: center
  text-transform: uppercase

.square
  display: block
  position: relative
  flex-basis: 50%
  height: 300px
  background-color: $offwhite
  @media (max-width: $toast-breakpoint-medium)
    height: 210px
  @media (max-width: $toast-breakpoint-small)
    height: 200px

$slug: square !default

@for $i from 1 through 25
  .#{$slug}#{$i}
    background: url(img/squares/sqback + $i) center center no-repeat
    background-size: cover
    transition: all 1s ease

.square100
  flex-basis: 100%

.squareblank
  background: none
  background-color: $offwhite

.welcome
  width: 360px!important
  padding: 1em
  background-color: rgba($neutral-grey, 0.85)
  border: 2px solid $room1
  height: auto
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%,-50%)

.welcomeimg
  background-color: $offwhite
  padding: 1em

.welcomecontainer
  padding: 1em
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%,-50%)
  background-color: rgba($neutral-grey, 0.85)
  border: 2px solid $room1
  @media (max-width: $toast-breakpoint-small)
    width: 330px

.zimmer-img
  display: block
  width: 84%
  vertical-align: middle
  padding: 1.5em
  margin-bottom: 1em
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%,-50%)

.zimmer-link
  width: 100%
  min-height: 250px
  display: block
  border: 2px solid $primary-color
  transition: all 1s ease
  background-size: cover
  &:hover
    opacity: 0.6
    transition: all 1s ease
  @media (max-width: $toast-breakpoint-medium)
    height: 225px
  @media (max-width: $toast-breakpoint-small)
    height: 100px
