body
  background-color: $neutral-grey
.wrapper
  background-color: $offwhite
  max-width: $toast-breakpoint-medium
  margin: 0 auto
  box-shadow: 0 10px 30px -5px $primary-color 
  @media (max-width: $toast-breakpoint-medium)
    width: 100%
    margin: 0
